
/* .container-page{
	padding: 0 5% 30px;
	background:#fff url(../images/snow.png) 0 0 repeat;
	@include clearfix;
}
 */
.header-info__container{
	color: #505050;
/* 	background:#f1f1f1;
 */	text-transform: uppercase;
	float: left;
	margin: 15px 10px;
	position: relative;
	&.right{
		float: right;
	}
}

	.header-info__detail{
		@include font-size(14);
		
		text-align: center;
		font-family: antonio-light, Arial, sans-serif;
		color: #f1f1f1;
		span{
			display: block;
			white-space: nowrap;
		}
		&.header-info__detail--left{
			background: #63b159;
			padding: 10px 24px;
			float: left;

		}
		&.header-info__detail--right{
			background:#CC6666;
			padding: 15px;
			float: right;
			&:visited{
			color: #f1f1f1;
			}
			&:hover, &:focus{
				background:#ECD356;
				color: #f1f1f1;
			}
		}
	}

		.header-info__detail--email{
			cursor: pointer;
		.header-info__container-links{
			display: none;
			position: absolute;
			right: 0;
			top: 100%;
			min-width: 150px;

		}

		&:hover .header-info__container-links{
			display: block;
		}
		&:hover > .detail-title{
			@include border-radius(5px 0 0 0);
		}
		
	}

		.header-info__link{
			display: block;
			padding: 7px 6%;
			background: #505050;
			color: #f1f1f1;
			@include font-size(16);
			text-align: left;
			white-space: nowrap;
			width: auto;
			i{
				padding-right: 8px;
			}
			&:hover{
				color: #f1f1f1;
			}
			.firm-live{
				
			}

			.coportal{

			}
		
		}
	

	.header-info__name{
		font-family: leaugeGothic, arial, sans-serif;
		line-height: 1;
		display: block;
		white-space: nowrap;
/* 		position: relative;
 */		float: left;
		width: auto;
		&.header-info__name--left{
			@include font-size(45);
			padding: 15px 30px 0 15px;
		}
		&.header-info__name--right{
			@include font-size(25);
			padding: 25px 15px 15px;
		}
	}


.modules__container{
	border: 1px solid #d0d0d0;
	padding: 10px;
	@include border-radius(5px);
	margin: 10px;
	@include clearfix;
	float: left;
	clear:both;
	&.container-tb{
		width: 100%;
	}
	&.no-data{
		width: 100%;
		@include font-size(24);
		line-height: 1;
		color: $red;
	}
}

.detail-error{
	@include font-size(25);
	margin-left: 4%;
	color: #CC6666;
	padding: 20px 2%;
	background:#fff url(../images/snow.png) 0 0 repeat;
}

.modules{
	width: 320px;
	float: left;
	position: relative;
	margin: 0 0 0 20px;
	padding: 0 0 0 20px;
	border-left: 1px solid #d0d0d0;
	&:first-child, &.modules__filter--show{
		border: none;
		margin-left: 0;
		padding-left: 0;
	}
	&:last-child{
		margin-right: 10px;
	}
	@include breakpoint (max-width 815px) {
		padding-left: 0;
		width: 320px;
		padding: 20px 0 0;
		margin: 20px auto 0;
		float: none;
		@include clearfix;
		border-left: 0;
		border-top: 1px solid #d0d0d0;
		&:first-child, &.modules__filter--show{
			border: none;
			margin-left: auto;
		}
		&:last-child{
			margin-right: auto;
		}
		.no-filter {
			bottom:0;
		}
	}
}

	.modules__title{
		font-size: 30px;
		font-size: 3rem;
		padding: 20px 0 50px;
		font-family: antonio-light, Arial, sans-serif;
		padding: 7px 20px;
		text-align: left;
		width: auto;
		margin: 0 auto 38px;
		clear: both;
		float: left;
		@include breakpoint (max-width 790px) {
			@include font-size(24);
		}
	}

	.modules__header-container{
		@include clearfix;
	}

		.modules__header{
			display: block;
			width: 100%;
			height: 40px;
			background: $dark-grey;
			padding: 10px 5px;
			position: relative;
			z-index: 2;
			color: #f1f1f1;
			font-family: leaugeGothic, arial, sans-serif;
			@include font-size(22);
			text-transform: uppercase;
		}

	.container-modal-btn{
		clear: both;
	}

	.modules__btn{
		width:120px;
		@include border-radius(5px);
		display: block;
		background-color: #828282;
		@include background-image(linear-gradient(top, #828282, #505050));
		color: #fff;
		padding:8px 10px;
		border:0 none;
		text-align: center;
		&:hover, &.active{
			border-top-color: #919191;
			background: #505050;
			color: #ffffff;
		}
		@include breakpoint (max-width 790px) {
			width: 110px;
			float: none;
		}
	}

	.modules__link{
		display: block;
		padding: 10px;
		text-decoration: underline;
	}

		/*PV SPECIFIC STYLES*/

		.pv .modules__header{
			width: 40%;
		}

		.modules__total-number{
			margin: 5px 0 0;
			font-family: leaugeGothic, arial, sans-serif;
			color: #f1f1f1;
			background:#505050;
			float: right;
			height: 200px;
			width: 200px;
			padding: 33px 0 0;
			text-align: center;
			line-height: 1;
			font-weight: normal;
			@include font-size(125);
			@include border-radius(100%);
			border: 5px #818181 solid;
		}

		.modules__status{
			width: 80%;
			float: right;
			background:#e5e5e5;
			position: relative;
			@include clearfix;
		}

		.modules__status-title{
			font-family: antonio-light, Arial, sans-serif;
			@include font-size(18);
			position: absolute;
			left: -67px;
			top: 0;
			background:#505050;
			padding: 10px;
			width: 67px;
		}

		.modules__status-list{
			width: 50%;
			list-style-type: none;
			min-height: 53px;
			padding: 7px 5px 0;
			border: 1px #989997 solid;
			margin: 0;
		}

			.modules__status-item{
				height: 15px;
				width: 15px;
				@include border-radius(50%);
				float: left;
				margin: 0 0 7px 4px;
			}

			.status-green{
				.modules__status-item{
					background:$green;
				}
			}
			.status-yellow{
				.modules__status-item{
					background:$yellow;
				}
			}
			.status-red{
				.modules__status-item{
					background:$red;
				}
			}

	/*/////////////////////TIMESTAMP MODULE/////////////////*/
	
	.modules__timestamp-container{
		float: left;
		margin-right: 40px;
	}

	.modules__timestamp{
		@include font-size(12);
		line-height: 1.8;
	}

	/* .refresh-link{
		float: right;
		padding: 11px 9px;
		@include background-image(linear-gradient(top, #828282, #505050));
		color: #f1f1f1;
		cursor: pointer;
		&:visited{
			color: #f1f1f1;
		}
		&:hover, &:focus{
			color: #f1f1f1;
			background:#505050;
		}
	} */


		/*LANDING PAGE CHARTS STYLES*/
		.modules__indicator-container  {
			width:100%;
			color:#f1f1f1;	
		}

		.modules__indicator{
			width:120px;
			position: absolute;
			right:20px;
			top:-3px;
			@include border-radius(5px);
			overflow: hidden;
			//border:2px solid #505050;
			background:lighten(#505050, 55%);
			height:85px;
			@include breakpoint (max-width 790px) {
				width: 110px;
			}
		}
			//Indicator label text
			.modules__indicator-label{
				display: block;
				width:100%;
				height:40px;
				background:#505050;
				padding:10px 5px;
				position: relative;
				color: #f1f1f1;
				z-index: 2;
				font-family: leaugeGothic, arial, sans-serif;
				@include font-size(22);
				text-transform: uppercase;
			}
			//Indicator number
			.modules__indicator-num{
				padding:40px 5%;
				height: 100px;
				width: 100px;
				position: absolute;
				left: 44px;
				bottom: -29px;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				border-radius: 50%;
				font-family: leaugeGothic, arial, sans-serif;
				@include font-size(30);
				font-weight: normal;
				color: #fff;
				text-align: center;
				float: right;

				&.green{
					background:$green;
				}
				&.yellow{
					background:$yellow;
				}
				&.red{
					background:$red;
				}
			}

			.modules__btn--all{
				margin:100px 22px 0 0;
			}

			.modules__filter--no-filter{
				line-height: 1.11;
				font-family: serif;
				text-align: center;
				color:#fff;
				@include font-size(14);
				@include border-radius(5px 5px 0 0 );
				padding:3px 3px;
				background:#505050;
				width:120px;
				bottom:-10px;
				right:20px;
				position: absolute;
				z-index: 0;
				span {
					display: block;
					@include font-size(12);
				}
			}
			.modules__filter--no-filter-alert {
				
				em {
					display: block;
				}
				span {
					display: block;
					margin-top:10px;
				}
			}

			

			.modules__chart-container{
				width: 50%;
				float: left;
				display: block;
				margin: 0 auto
			}


/*TABLE STYLES*/



		.content__container{
			float: left;
			width: 100%;
			margin: 15px 10px 0;
		}

		.tb{
			clear: both;
			width: 100%;
			border-collapse: collapse;
			margin:0;
		}
		.tb__header{
			background:#505050;
			color: #f1f1f1;
			th{
				text-transform: uppercase;
				padding: 15px 0;
				text-align: center;
				width: 12.5%;
				position: relative;
				&.firm-name-th{
					padding-left: 15px;
				}
				@include breakpoint(max-width 1280px) {
						@include font-size(12);
					}
				&:first-child{
					@include border-radius( 5px 0 0);
				}
				&:last-child{
					@include border-radius( 0 5px 0 0);
				}
			}
		}

			.firm-name-th{
				text-align: left;
			}

			.fa-lg.tb-sort{
				cursor: pointer;
				text-transform: none;
				padding: 0 0 0 10px;
				vertical-align: top;
				@include breakpoint(max-width 1480px) {
					padding-top: 3px;
				}
				@include breakpoint(max-width 1280px) {
					padding-left: 3px;
				}

			}

		.tb__body{
			background:#e5e5e5;
			font-weight: bold;
			tr{
				border-bottom: 1px solid #ccc;
				width: 100%;
				td{
					padding: 15px 0;
					text-align: center;
					width: 12.5%;
					position: relative;
					height: 100px;
					&.firm-name-td{
						padding-left: 15px;
					}
					@include breakpoint(max-width 1280px) {
							@include font-size(12);
						}
				}
			}
		}

			.act-th, .act-td, .prod-th, .prod-td{
				@include breakpoint (max-width 1280px) {
					display: none;
				}
			}

		.tb__link{
			margin: 0;
			width: 100%;
			padding:5px 10px;
			@include font-size(14);
			font-weight: normal;
			text-transform: none;
			text-align: center;
			&:hover, &.active{

				text-decoration: none;
			}
		}

	/* RESPONSIVE TABLE - DOES NOT WORK ON LTE IE9 */

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
		
		.modules__container{
			width: 100%;
		}
		/* Force table to not be like tables anymore */
		.tb, .tb__head, .tb__body { 
			display: block; 
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

		.tb__body{
			tr { 
			border: 1px solid #ccc; 
			margin-bottom: 5px;
			background:#e5e5e5;
			display: block; 
			td { 
				/* Behave  like a "row" */
				display: block; 
				border: none;
				border-bottom: 1px solid #eee; 
				position: relative;
				padding-left: 50%;
				height: auto;
				width: auto;
				padding: 2px 2px 2px 50%;
				white-space: nowrap;
				@include font-size(12);
				&.firm-name-td{
					width: 100%;
					padding-left: 15px;
				}
				&:before{
					width: 50%;
					vertical-align: middle;
					/* Now like a table header */
					position: absolute;
					/* Top/left values mimic padding */
					padding-right: 10px; 
					white-space: nowrap;
					left: 5%;
				}
			}
		}
		
		
		}

		/*
		Label the data
		*/
		td:nth-of-type(1){
			background: #505050;
			color: #f1f1f1;
			text-transform: uppercase;
			padding: 0;
			/* &:before { 
				content: "First Name"; 
			}  */
		}
		td:nth-of-type(2):before { content: "Activity"; }
		td:nth-of-type(3):before { content: "Project Age"; }
		td:nth-of-type(4):before { content: "Activity Age"; }
		td:nth-of-type(5):before { content: "Product"; }
		td:nth-of-type(6):before { content: "Participant"; }
		td:nth-of-type(7):before { content: "Manager"; }
		td:nth-of-type(8):before { content: "Sub ID"; }
}

/* @media only screen and (max-width: 450px) {
	.tb__body{
		td{
			white-space: normal;
		}
	}
}
.act-cell-green{
	color: #61b257;
}

.act-cell-yellow{
	color: #ecd356;
}

.act-cell-red{
	position: relative;
	color: #cc6666;
	background:#e3e3e3;
	.act-age-status{
		height: 30px;
		width: 30px;
		background:red;
		position: absolute;
		top:-50%;
		right: -50%;
	}
	
}


.chart{
	float: left;
	width: 30%;
}
.charts{
	margin:0 0 45px;
}
.data{
	clear: both;
} */