<div class="modal-body">
    <div class="modal-header">
        <h3>Add/Remove Fields</h3>
    </div>
    <h4 class="title-add-items">Default fields</h4>
    <ul class="add-items static-fields">
        <li>Activity</li>
        <li>Activity Due</li>
        <li>Project Age</li>
        <li>Activity Age</li>
        <li>Sub ID</li>
    </ul>
    <h4 class="title-add-items">Customizeable fields</h4>
    <ul class="add-items">
        <form name="detailFields">
            <li ng-repeat="item in keyList" ng-class="{ checked : selection.indexOf(item) > -1 }">
                <input id="{{item}}" name="selectedItems[]" value="{{item}}" type="checkbox" ng-checked="selection.indexOf(item) > -1" ng-click="toggleSelection(item)" ng-model="isChecked"> 
                <label class="add-field" for="{{item}}">{{item}}</label>
                <i class="fa fa-check-square fa-2x"></i>
            </li>
        </form>
    </ul>
<div class="container-modal-btn right">
    <button class="modules__btn left" ng-click="ok()">Save</button>
    <a href="#" class="modules__link right" ng-click="cancel()">Cancel</a>
</div>

</div>