<div class="container-page" ng-controller="mainCtrl">
    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
    <div class="loading" ng-show="loading">
        <div class="loading-inner">
            <div id="circleG">
                <div id="circleG_1" class="circleG"></div>
                <div id="circleG_2" class="circleG"></div>
                <div id="circleG_3" class="circleG"></div>
            </div>
            <div class="loading-text">Loading</div>
        </div>
    </div>
    <div class="container-utilities-outer" affix="167"><div class="container-utilities">
        <div class="container-search">
            <input type="text" ng-model="selected" placeholder="Search by firm name" typeahead="row.firm_name for row in rows | filter:$viewValue |  filter:{activity_status:actFilter, project_color:projFilter } | filter: filterManagers | filter:filterProducts | filter: filterActivities | filter: filterProcess | limitTo:8" class="form-control">
        </div>
        <div class="container-indicator">

            <div class="title-indicator" ng-show="projFilter == 'red' || !projFilter">Late Projects</div>
            <div class="title-indicator" ng-show="projFilter == 'yellow'">Caution Projects</div>
            <div class="title-indicator" ng-show="projFilter == 'green'">On Time Projects</div>
            <div class="title-indicator" ng-show="projFilter == 'grey'">Untracked Projects</div>
            <span class="number-indicator late" ng-show="projFilter == 'red' || !projFilter">{{totalProjCount.totalProjRedCount}}</span>
            <span class="number-indicator caution" ng-show="projFilter == 'yellow'">{{totalProjCount.totalProjYellowCount}}</span>
            <span class="number-indicator on-time" ng-show="projFilter == 'green'">{{totalProjCount.totalProjGreenCount}}</span>
            <span class="number-indicator unassigned" ng-show="projFilter == 'grey'">{{totalProjCount.totalProjGreyCount}}</span>
        </div>
        <div class="container-indicator">
            <div class="title-indicator" ng-show="actFilter == 'red' || !actFilter">Late Activities</div>
            <div class="title-indicator" ng-show="actFilter == 'yellow'">Caution Activities</div>
            <div class="title-indicator" ng-show="actFilter == 'green'">On Time Activities</div>
            <span class="number-indicator late" ng-show="actFilter == 'red' || !actFilter">{{totalActCount.totalActRedCount}}</span>
            <span class="number-indicator caution" ng-show="actFilter == 'yellow'">{{totalActCount.totalActYellowCount}}</span>
            <span class="number-indicator on-time" ng-show="actFilter == 'green'">{{totalActCount.totalActGreenCount}}</span>

        </div>
        <button class="button-light btn-unassigned" ng-click="openUnassigned()" ng-class="{disabled: !hasUnassigned}" ng-disabled="!hasUnassigned"><i class="fa fa-exclamation-circle fa-lg"></i>Unassigned Tasks</button>
    </div></div>
    <div class="container-filter-status-outer clearfix" affix="167"><div class="container-filter-status" ng-class="{'toggle-open':filtersVisible}">
        <div class="filter-status" em-height-target ng-class="{'toggle-open':filtersVisible}" ng-model="filterStatus">
            <div class="current-org-filter current-filter" ng-show="selectedOrg"><!-- <button ng-click="selected=''"><i class="fa fa-times-circle"></i></button>  -->{{selectedOrg}}</div>
            <div class="current-search-filter current-filter" ng-show="selected"><button ng-click="selected=''"><i class="fa fa-times-circle"></i></button> {{selected}}</div>

            <div class="current-process-filter current-filter" ng-show="storedProcessFilter.length > 0" ng-repeat="items in storedProcessFilter"><button ng-click="removeProcessFilters(items)"><i class="fa fa-times-circle"></i></button> {{items}}</div>
            <div class="current-product-filter current-filter" ng-show="storedProductFilter.length > 0" ng-repeat="items in storedProductFilter"><button ng-click="removeProductFilters(items)"><i class="fa fa-times-circle"></i></button> {{items}}</div>
            <div class="current-manager-filter current-filter" ng-show="storedManagerFilter.length > 0" ng-repeat="items in storedManagerFilter"><button ng-click="removeManagerFilters(items)"><i class="fa fa-times-circle"></i></button> {{items}}</div>
            <div class="current-activity-filter current-filter" ng-show="storedActivityFilter.length > 0" ng-repeat="items in storedActivityFilter"><button  ng-click="removeActivityFilters(items)"><i class="fa fa-times-circle"></i></button> {{items}}</div>
            <div class="current-color-filter current-filter" ng-show="projFilter"><button  ng-click="clearColorFilters('project')"><i class="fa fa-times-circle"></i></button> {{projFilter}} Projects</div>
            <div class="current-color-filter current-filter" ng-show="actFilter"><button  ng-click="clearColorFilters('activity')"><i class="fa fa-times-circle"></i></button> {{actFilter}} Activities</div>
        </div>
        <button class="btn-toggle-current current-filter" ng-click="filtersVisible = !filtersVisible" ng-show="showMore"><span  ng-show="!filtersVisible">Show</span><span ng-show="filtersVisible">Hide</span> All <i class="fa fa-sort-down fa-lg"></i></button>
    </div></div>

    <div class="container-filter" ng-class="{ open: showFilter}" affix="167">
        <button class="button btn-filter-toggle" ng-class="{ open: showFilter}" ng-click="filterToggle()"><i class="fa fa-bars fa-lg"></i></button>
        <div class="filters filter-nav">
            <h4 class="panel-title title-filter"><span class="accordion-toggle">Add Filters</span></h4>
            <accordion close-others="oneAtATime">
                <accordion-group is-open="isopen1">
                    <accordion-heading>
                        Process <i class="fa" ng-class="{'fa-times': isopen1, 'fa-sort-down': !isopen1}"></i>
                    </accordion-heading>
                    <div class="activity-grp filter-grp cleafix">
                        <div class="filter-item">
                            <label>
                                <input type="checkbox" ng-click="updateProcessFilters('none')" class="filter-radio" value="none" name="process-filters" />
                                <i class="fa fa-lg" ng-class="{'fa-check-square-o': storedProcessFilter.length<=0 , 'fa-square-o':storedProcessFilter.length >= 1}"></i>No Filters
                            </label>
                        </div>
                        <div class="filter-item" ng-repeat="process in processList | orderBy:'toString()'" ng-class="{checked: storedProcessFilter.indexOf(process)}">
                            <label>
                                <input type="checkbox" ng-click="updateProcessFilters(process, $index)" ng-checked="storedProcessFilter.indexOf(process)" ng-class="{ 'selected-class-name': $index == selectedIndex }" class="filter-radio" value="process" name="process-filters" >
                                <i class="fa fa-lg" ng-class="{'fa-check-square-o': storedProcessFilter.indexOf(process)>=0 , 'fa-square-o': storedProcessFilter.indexOf(process)<=-1}"></i>{{process}}
                            </label>
                        </div>
                    </div>
                </accordion-group>
                 <accordion-group is-open="isopen2">
                    <accordion-heading>
                        Products <i class="fa" ng-class="{'fa-times': isopen3, 'fa-sort-down': !isopen3}"></i>
                    </accordion-heading>
                    <div class="product-grp filter-grp clearfix">
                        <div class="filter-item">
                            <label>
                                <input ng-click="updateProductFilters('none')" type="checkbox" class="filter-checkbox" value="none" name="product-filters" />
                                <i class="fa fa-lg" ng-class="{'fa-check-square-o': storedProductFilter.length <= 0 , 'fa-square-o': storedProductFilter.length >= 1}"></i>No Filters
                            </label>
                        </div>
                        <div class="filter-item" ng-repeat="product in productsList | orderBy:'toString()'">
                            <label>
                                <input ng-click="updateProductFilters(product, $index)"  ng-checked="storedProductFilter.indexOf(product)" type="checkbox" class="filter-class" value="product" name="product-filters" />
                                <i class="fa fa-lg" ng-class="{'fa-check-square-o': storedProductFilter.indexOf(product)>-1 , 'fa-square-o': storedProductFilter.indexOf(product)<=-1}"></i>{{product}}
                            </label>
                        </div>
                    </div>
                </accordion-group>
                <accordion-group is-open="isopen3">
                    <accordion-heading>

                        Activity <i class="fa" ng-class="{'fa-times': isopen1, 'fa-sort-down': !isopen1}"></i>

                    </accordion-heading>
                    <div class="activity-grp filter-grp cleafix">
                        <div class="filter-item">
                            <label>
                                <input type="checkbox" ng-click="updateActivityFilters('none')" class="filter-radio" value="none" name="activity-filters" />
                                <i class="fa fa-lg" ng-class="{'fa-check-square-o': storedActivityFilter.length<=0 , 'fa-square-o': storedActivityFilter.length >= 1}"></i>No Filters
                            </label>
                        </div>
                        <div class="filter-item" ng-repeat="activity in activitiesList | orderBy:'toString()'" ng-class="{checked: storedActivityFilter.indexOf(activity)}">
                            <label>
                                <input type="checkbox" ng-click="updateActivityFilters(activity, $index)" ng-checked="storedActivityFilter.indexOf(activity)" ng-class="{ 'selected-class-name': $index == selectedIndex }" class="filter-radio" value="activity" name="activity-filters" >
                                <i class="fa fa-lg" ng-class="{'fa-check-square-o': storedActivityFilter.indexOf(activity)>=0 , 'fa-square-o': storedActivityFilter.indexOf(activity)<=-1}"></i>{{activity}}
                            </label>
                        </div>
                    </div>
                </accordion-group>
                <accordion-group is-open="isopen4">
                    <accordion-heading>
                        Manager <i class="fa" ng-class="{'fa-times': isopen2, 'fa-sort-down': !isopen2}"></i>
                    </accordion-heading>
                    <div class="manager-grp filter-grp clearfix">
                        <div class="filter-item">
                            <label>
                                <input ng-click="updateManagerFilters('none')" type="checkbox" class="filter-radio" value="none" name="manager-filters" />
                                <i class="fa fa-lg" ng-class="{'fa-check-square-o': storedManagerFilter=='' , 'fa-square-o': storedManagerFilter!= ''}"></i>No Filters
                            </label>
                        </div>
                        <div class="filter-item" ng-repeat="manager in managersList | orderBy:'toString()'">
                            <label>
                                <input ng-click="updateManagerFilters(manager)"  ng-checked="storedManagerFilter.indexOf(manager)" type="checkbox" class="filter-class" value="manager" name="manager-filters" />
                                <i class="fa fa-lg" ng-class="{'fa-check-square-o': storedManagerFilter.indexOf(manager)>-1 , 'fa-square-o': storedManagerFilter.indexOf(manager)<=-1}"></i>{{manager}}
                            </label>
                        </div>
                    </div>
                </accordion-group>
            </accordion>
        </div>
    </div>
    <div class="container-columns">
        <div class="column-main">
            <div class="container-data">
                <h4 class="title-data">Age Breakdown</h4>
                <div class="container-graph left">

                  
                    <div class="piechart" google-chart chart="projectPieChart" style="{{projectPieChart.cssStyle}}" select="projSelectListener(selectedItem)"></div>
                  
                    <span class="label-graph">Project</span>
                 </div>
                 <div class="container-graph right">
                 

                    <div class="piechart" google-chart chart="activityPieChart" style="{{activityPieChart.cssStyle}}"  select="actSelectListener(selectedItem)"></div>
                    <span class="label-graph">Activity</span>
                 </div>
            </div>
            <div class="container-tb">
                <table class="tb">
                    <thead class="header-tb">
                        <th class="firm-name-cell">Firm Name</th>
                        <th class="activitiy-cell">Activity <i class="fa fa-sort-down fa-lg tb-sort" ng-click="predicate = 'activity_description'; reverse=!reverse"></i></th>
                        <th class="product-cell">Product <i class="fa fa-sort-down fa-lg tb-sort" ng-click="predicate = 'product'; reverse=!reverse"></i></th>
                        <th class="project-age-cell">Project<br />Age <i class="fa fa-sort-down fa-lg tb-sort" ng-click="predicate = 'project_age'; reverse=!reverse"></i></th>
                        <th class="activity-age-cell">Activity<br />Age <i class="fa fa-sort-down fa-lg tb-sort" ng-click="predicate = 'activity_age'; reverse=!reverse"></i></th>
                        <!--<th class="prod-th th-landing">Product</th>-->
                        <th class="participant-cell">Participant</th>
                        <!--<th class="mgr-th th-landing">Manager <i class="fa fa-sort-down fa-lg tb-sort" ng-click="predicate = 'staff_manager'; reverse=!reverse"></i></th>-->
                        <th class="sub-id-cell">Sub ID</th>
                        <th class="notes-cell">Notes</th>
                        <!-- <th>Activity Status</th> -->
                    </thead>
                    <tbody class="body-tb" id="content">

                        <tr ng-repeat="row in filteredRows = (rows | filter:{  activity_status:actFilter, project_color:projFilter } | orderBy:predicate:!reverse | filter:selected | filter: filterManagers | filter:filterProducts | filter: filterActivities | filter: filterProcess )">

                            <td class="firm-name-cell table-content">{{row.firm_name}} </td>
                            <td class="activitiy-cell table-content">{{row.activity_description}} </td>
                            <td class="activitiy-cell table-content">{{row.short_product}} </td>
                            <td class="project-age-cell table-content"><i class="fa fa-circle {{row.project_color}}"></i> {{row.project_age}}</td>
                            <td class="activity-age-cell table-content"><i class="fa fa-circle {{row.activity_status}}"></i> {{row.activity_age}}</td>
                            <!--<td class="prod-td">{{row.product}} </td>-->
                            <td class="part-td table-content"><a href="#/participant/{{row.participant_first_name}}_{{row.participant_last_name}}" ng-hide="row.participant_last_name == 'Unassigned'" class="tb-link">{{row.participant_first_name}}   {{row.participant_last_name}}</a><span ng-show="row.participant_last_name == 'Unassigned'">{{row.participant_last_name}}</span></td>
                            <!--<td class="mgr-td">{{row.staff_manager}}</td>-->
                            <td class="sub-id-cell table-content"><a href="#/detail/{{row.sub_id}}" class="tb-link">{{row.sub_id }}</a></td>
                            <td class="notes-cell table-content"> <i class="fa fa-file-text" ng-if="row.notes.length>0">&nbsp;</i></td>
                            <!-- <td>{{row.activity_status}}</td> -->
                        </tr>
                        <tr ng-show="filteredRows.length == 0"><td colspan="8" class="no-results">No results found</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
