<form class="container-threshold new" name="newThresholdForm" ng-submit="saveNewThreshold(thresholdData, key)">
	<label for="newActivity" class="title-activity">Activity</label>
	<select name="newActivity" ng-model="thresholdData.newActivity" value="Activity name" ng-options="items for items in activityList" required>
		<option value="">-- Select an activity --</option>
	</select>
	<small class="error" ng-show="newThresholdForm.newActivity.$dirty && newThresholdForm.newActivity.$invalid">
		<i class="fa fa-warning"></i>
        Please enter a valid activity.
    </small>
    
    <label for="newGreenPro">Green Project</label>
	<input name="newGreenPro" type="number" ng-model="thresholdData.newGreenPro" step="1" min="0" max="99" required>
	<small class="error" ng-show="newThresholdForm.newGreenPro.$dirty && newThresholdForm.newGreenPro.$invalid">
		<i class="fa fa-warning"></i>
        Please enter a number
    </small>
	<label for="newYellowPro">Yellow Project</label>
	<input type="number" name="newYellowPro" ng-model="thresholdData.newYellowPro" step="1" min="0" max="99" required>
	<small class="error" ng-show="newThresholdForm.newYellowPro.$dirty && newThresholdForm.newYellowPro.$invalid">
		<i class="fa fa-warning"></i>
		Please enter a number
	</small>
	<input class="button right" type="submit" value="Save" name="save-threshold">
 </form>
