<div class="container-page">
<!--     <button class="button btn-filter-toggle btn-back" ng-click="previousState()" affix="167"><i class="fa fa-caret-left fa-lg"></i></button>
     -->	<div class="container-filter-status-outer clearfix" ng-class="{ 'no-data': participantRows.length <= 0}"><div class="container-filter-status" ng-show="participantRows.length <= 0">
			<i class="fa fa-warning"></i>
			an error occured while processing your request. No information can be displayed for this instance.
    </div></div>
	<div class="container-columns">
		<h2 class="title-page" ng-hide="detailRows.length <= 0">
			{{participantRows[0].participant_first_name}} {{participantRows[0].participant_last_name}} | <a class="mail-link" href="mailto:{{ participantRows[0].participant_first_name }}.{{ participantRows[0].participant_last_name }}@thomsonreuters.com?subject=Following%20up&body={{ participantRows[0].participant_first_name }}%20&#44;&#10;"><i class="fa fa-envelope-o"></i></a>
		</h2>
        <div class="column-main">
           
            <div class="container-tb">
                <table class="tb">
                    <thead class="header-tb">
                        <th class="firm-name-cell">Firm Name</th>
                        <th class="activitiy-cell">Activity <i class="fa fa-sort-down fa-lg tb-sort" ng-click="predicate = 'activity_description'; reverse=!reverse"></i></th>
                        <th class="project-age-cell">Project Age <i class="fa fa-sort-down fa-lg tb-sort" ng-click="predicate = 'project_age'; reverse=!reverse"></i></th>
                        <th class="activity-age-cell">Activity Age <i class="fa fa-sort-down fa-lg tb-sort" ng-click="predicate = 'activity_age'; reverse=!reverse"></i></th>
                        <!--<th class="prod-th th-landing">Product</th>-->
                        <th class="participant-cell">Participant</th>
                        <!--<th class="mgr-th th-landing">Manager <i class="fa fa-sort-down fa-lg tb-sort" ng-click="predicate = 'staff_manager'; reverse=!reverse"></i></th>-->
                        <th class="sub-id-cell">Sub ID</th>
                        <th class="notes-cell">Notes</th>
                        <!-- <th>Activity Status</th> -->
                    </thead>
                    <tbody class="body-tb" id="content">
                        <tr ng-repeat="row in participantRows | orderBy:predicate:!reverse">
                            <td class="firm-name-cell table-content">{{row.firm_name}} </td>
                            <td class="activitiy-cell table-content">{{row.activity_description}} </td>
                            <td class="project-age-cell table-content"><i class="fa fa-circle {{row.project_color}}"></i> {{row.project_age}}</td>
                            <td class="activity-age-cell table-content"><i class="fa fa-circle {{row.activity_status}}"></i> {{row.activity_age}}</td>
                            <!--<td class="prod-td">{{row.product}} </td>-->
                            <td class="part-td table-content"><a href="#/participant/{{row.participant_first_name}}_{{row.participant_last_name}}" ng-hide="row.participant_last_name == 'Unassigned'" class="tb-link">{{row.participant_first_name}}   {{row.participant_last_name}}</a><span ng-show="row.participant_last_name == 'Unassigned'">{{row.participant_last_name}}</span></td>
                            <!--<td class="mgr-td">{{row.staff_manager}}</td>-->
                            <td class="sub-id-cell table-content"><a href="#/detail/{{row.sub_id}}" class="tb-link">{{row.sub_id }}</a></td>
                            <td class="notes-cell table-content"> <i class="fa fa-file-text" ng-if="row.notes.length>0">&nbsp;</i></td>
                            <!-- <td>{{row.activity_status}}</td> -->
                        </tr>
                        <tr ng-show="filteredRows.length == 0"><td colspan="8" class="no-results">No results found</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

	
</div>
