<div class="modal-body">
    <div class="modal-header">
        <h3>Unassigned Projects</h3>
    </div>
    <table class="tb modal-tb">
        <thead class="header-tb">
            <tr>
                <th class="firm-name-cell">Firm Name</th>
                <th class="activitiy-cell">Activity</th>
                <th class="project-age-cell">Project Age</th>
                <th class="activity-age-cell">Activity Age</th>
                <th class="sub-id-cell">Sub ID</th>
            </tr>
        </thead>
        <tbody class="body-tb">
            <tr ng-repeat="row in filteredUnassigned = (rows | filter:unassignedFilter | orderBy:'project_age':!reverse)">
                <td class="firm-name-cell">{{row.firm_name}}</td>
                <td class="activitiy-cell">{{row.activity_description}}</td>
                <td class="project-age-cell"><i class="fa fa-circle {{row.project_color}}"></i> {{ row.project_age }} days</td>
                <td class="activity-age-cell"><i class="fa fa-circle {{row.activity_status}}"></i> {{ row.activity_age }} days</td>
                <td class="sub-id-cell"><a ui-sref="detail({id:row.sub_id})" class="tb-link" ng-click="ok()">{{row.sub_id }}</a></td>
            </tr>
            <tr ng-show="filteredUnassigned.length == 0"><td colspan="5" class="no-data">No unassigned tasks</td></tr>
        </tbody>
    </table>
<button class="button btn-modal right" ng-click="ok()">Close</button>
</div>