<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!--> <html  class="no-js" lang="en-US"> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	    <title>Traffik Report</title>
    
  
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> 
    <link rel="stylesheet" href="{{url_for('static', filename='css/site.css')}}">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

</head>
<body >
    <div class="wrapper">
    
    <header>
        <div class="three-colors">
            <div class="red traffic"></div>
            <div class="yellow traffic"></div>
            <div class="green traffic"></div>
        </div>
        <h1><a href="/" class="logo">Traffik <span class="logo-span">Report</span></a></h1>
        
<!-- uid:0166148
time:2014:01:13:21:22:37
firstname:Ken
lastname:Korth
email:ken.korth@thomsonreuters.com
digest:d704b85843ee3b5a98c6cf943abb3835
siteLink:http://0.0.0.0:5000/ -->
<div class="fake-form-container">
	<form action="/" method="POST">
		<input type="hidden" value="0166148" name = "uid" />
		<input type="hidden" value="2014:01:13:21:22:37" name = "time" />
		<input type="hidden" value="Ken" name = "firstname" />
		<input type="hidden" value="Korth" name = "lastname" />
		<input type="hidden" value="ken.korth@thomsonreuters.com" name = "email" />
		<input type="hidden" value="d704b85843ee3b5a98c6cf943abb3835" name = "digest" />
		<input type="hidden" value="http://0.0.0.0:5000" name = "siteLink" />
		<button type="submit" class="btn">Push Me!</button>
	</form>
</div>
</body>
</html>