<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!--> <html  class="no-js" lang="en-US"> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	    <title>Traffik Report</title>
    
  
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> 
    <link rel="stylesheet" href="{{url_for('static', filename='css/site.css')}}">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

</head>
<body >
    <div class="wrapper">
    
    <header>
        <div class="three-colors">
            <div class="red traffic"></div>
            <div class="yellow traffic"></div>
            <div class="green traffic"></div>
        </div>
        <h1><a href="/" class="logo">Traffik <span class="logo-span">Report</span></a></h1>
        
        <span class="login-block">
        {% if session['user']  %}

                logged in as: <img src="{{gravatar }}" class="gravatar" /> {{session['user']['email']}} | <a href="{{ url_for('logout') }}" class="logout">Logout</a>
            {% else %}
                not logged in | <a href="{{ url_for('login')}}" class="login">login</a>
            {% endif %}
       
        </span>
       
    </header>
    <div class="not-logged-in">
        You aren't logged in. Please 
    </div>
    <div class="login-big">  <a href="{{ url_for('login')}}" class="login">login</a></div>
    <footer>
        <p>Copyright &#169; <script type="text/javascript">var d = new Date();document.write(d.getFullYear()); </script> FindLaw, a Thomson Reuters business. All Rights Reserved.</p>
    </footer>
</body>




</html>