<div class="alerts"></div>
<div class="thresholds-wrapper clearfix" ng-controller="updateCtrl">
	<div class="container-forms">
		<div class="container-threshold current clearfix" ng-repeat="row in rows">
			<form class="threshold-form" name="{{row.activity}}" ng-submit="updateThresholds(row)">
				<div class="title-activity" ng-model="row.activity" ng-class="{'open':toggleForm, 'close':!toggleForm}">{{row.activity}}</div>
				<div class="btn toggle-threshold" ng-class="{'open':toggleForm, 'close':!toggleForm}" ng-click="toggleForm = !toggleForm"></div>
				<div class="container-toggle-form" ng-show="toggleForm" ng-animate="'container-toggle-form'">
					<label for="g-act-set">Activity Green</label>
					<input name="g-act-set" type="number" step="1" min="0" id="g-act-set" value="{{row.green_activity}}" ng-model="row.green_activity">
					<label for="y-act-set">Activity Yellow</label>
					<input name="y-act-set" type="number" step="1" min="0" id="y-act-set" value="{{row.yellow_activity}}" ng-model="row.yellow_activity">
					<label for="g-pro-set">Project Green</label>
					<input name="g-pro-set" type="number" step="1" min="0" id="g-pro-set" value="{{row.green_project}}" ng-model="row.green_project">
					<label for="y-pro-set">Project Yellow</label>
					<input name="y-pro-set" type="number" step="1" min="0" id="y-pro-set" value="{{row.yellow_project}}" ng-model="row.yellow_project">
					<input type="submit" value="Update" name="submit">
				</div>
			</form>
			<button class="delete" ng-click="removeThreshold(row)"></button>
		</div>
	</div>
	<div class="container-forms new">
		<div class="clearfix" ng-include="'../static/partials/newForm.html'" ng-repeat="(key, forms) in newThresholdForm"></div>
		<div class="container-new-btn">
			<a ng-href="#/set-thresholds" class="add-new" ng-click="newThresholdForm.push({id: newThresholdForm.length + 1})">add threshold <span class="plus">+</span></a>
			<a ng-href="#/set-thresholds" class="add-new remove" ng-click="newThresholdForm.pop()">remove threshold <span class="plus">-</span></a>
		</div>
	</div>
</div>