/*//////////////////////////////////////////////////sign in page//////////////////////////////////////////////////////*/


.login-title{
	padding:40px 0 20px;
}
fieldset{
	border: none;
}
label{
	display: block;
	width: 100%;
	margin:0 0 5px;
	@include font-size(14);
	font-family: Lora-Regular, Georgia, serif; 
}
#email,
#password{
	display: block;
	width: 100%;
	min-height: 45px;
	padding:5px;
	@include font-size(14);
}
#email{
	margin:0 0 25px;
}
#password{
	margin:0 0 50px;
}
.remember-label{
	display: inline !important;
}
.submit{
	width: 100%;
	font-family: antonio-light, Arial, sans-serif;
	@include font-size(30);
	font-weight: normal;
	color: #505050;
	margin:0;
	display: block;
}