.header-settings {
	color:$yellow;
	span {
		display: none;
	}
	&:visited {
		color:$yellow;
	}
	&:hover, &:active {
		color:lighten($yellow, 20%);
		text-decoration: none;
	}
}
.header-saved-view {
	
	&:after {
		content:"P";
		@include font-size(13);
		font-family: sans-serif;
		font-weight: 700;
		background-color: $green;
		color:#fff;
		@include inline-block;
		padding:3px;
		line-height: .8;
		margin:0 0 0 7px;
		@include border-radius(5px);
		border:1px solid #fff;



	}
}
.modal__section.filters {
	  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}